{% load static %}
<!DOCTYPE html>
<html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JSFiddle tncus3Lv</title>

  <style>

  </style>

  
</head>
<body>
  <header>
  <div class="title-h">
    <h2>AdminPanel</h2>
  </div>
  <div class="user-h">
    <h4>User</h4>
    <div class="circle">
      U
    </div>
  </div>
</header>
<section>
  <div class="left-panel">
    <div class="controls">
      <button class="c-button">Users</button>
      <button class="c-button">Groups</button>
      <button class="c-button">Notes</button>
      <button class="c-button">Requests</button>
    </div>
    <div class="logout-h">
      <button class="l-button">logout</button>
    </div>
  </div>
  <div class="main">
    <div class="main-header">
      <h1>Main</h1>
    </div>
    <div class="main-section"></div>
  </div>
</section>
  {% block content %}
  
  {% endblock content %}
  <script>
    
  </script>
</body>
</html>
