<!DOCTYPE html>
<html>

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>JSFiddle mgpxo02b</title>

  <style>
  
  </style>

  
</head>
<body>
  <div class="auth">
  <div class="title">
    <h3>Authorisation</h3>
  </div>  
  <div class="fields">
    <input class="entry" id="name" type="text" placeholder="name"></input>  
    <input class="entry" id="password" type="password" placeholder="password"></input>  
  </div> 
  <div class="button-submit">
      <button class="submit">
        sign in
      </button>
  </div> 
</div>

  <script>
    
  </script>
</body>
</html>
