{% extends "main/template.html" %}
{% load static %}
{% block h_title %}Registrating{% endblock h_title %}
{% block style %}
<link rel="stylesheet" href="{% static 'main/forms/users/registrating.css' %}">

{% endblock style %}
{% block content %}
<form method="post" action="/register/" class="grey-container">
    <div class="reg-title">
        <h2>Registrating user</h2>
    </div>
    <div class="reg-fields">
        <input class="entry" required placeholder="User name"/>
        <input class="entry" required placeholder="Email"/>
        <input class="entry" required placeholder="First name"/>
        <input class="entry" required placeholder="Last name"/>
        <input class="entry" required placeholder="Password"/>
        <input class="entry" required placeholder="Password again"/>
        <select class="entry">
            <option value="admin">admin</option>
            <option value="user">user</option>
        </select>
    </div>
    <div class="reg-buttons">
        <button class="red-btn">
            <span class="btn-icon">cancel</span>
        </button>  
        <button class="green-btn">
            <span class="btn-icon">Registrer</span>
        </button>  
    </div>
</form>
{% endblock content %}