{% extends "main/forms/template.html" %}
{% block h_title %}{{username}}{% endblock h_title %}
{% load static %}

{% block style %}
<script src="{% static 'main/forms/users/profile/forms/scripts/profiles.js' %}"></script>
{% endblock style %}

{% block n_left %}
<button  onclick="updateUsersList('server',{{data.prof_id}});" class="blue-btn">
  <span class="btn-icon">server</span>
</button> 
<button class="blue-btn">
  <span class="btn-icon">local</span>
</button> 
<button onclick="updateUsersList('groups',{{data.prof_id}});" class="blue-btn">
  <span class="btn-icon">groups</span>
</button> 
{% endblock n_left %}

{% block n_right %}
<button class="green-btn">
  <span onclick="location.href='/adding/{{data.prof_id}}'" class="btn-icon">Add in group +</span>
</button>  
{% endblock n_right %} 



{% block content_main %}
    {% if data.data %}
        {% for d in data.data %}
            <div 
            onclick="location.href='/note/{{d.id}}'"
            data-id={{d.id}} 
            data-user_id={{d.user_id}} 
            class="card">
                <div class="c-info">
                    <div class="c-text">
                    <h2>{{d.title}}</h2>
                    <h6>{{d.file_name}}</h6>
                    </div>
                </div>
                <div class="c-end">
                    <button class="c-btn">
                    
                    </button>
                    <h6>{{d.updated_at}}</h6>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>No notes yeat</h1>
    {% endif %}
{% endblock content_main %}    