    {% if data.data %}
        {% for d in data.data %}
            <div 
            onclick="location.href='/group/{{d.id}}'"
            data-group_id={{d.id}} 
            class="card">
                <div class="c-info">
                    <div class="c-text">
                    <h2>{{d.name}}</h2>
                    <h6></h6>
                    </div>
                </div>
                <div class="c-end">
                    <button class="c-btn">
                    
                    </button>
                    <h6>{{d.updated_at}}</h6>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>No groups yeat</h1>
    {% endif %}