{% extends "main/forms/template.html" %}
{% block h_title %}Groups{% endblock h_title %}

{% block n_right %}

{% endblock n_right %} 



{% block content_main %}
    {% if data %}
        {% for d in data.data %}
            <div 
            onclick="loadPage('group', {{d.id}});"
            data-group_id={{d.id}} 
            class="card">
                <div class="c-info">
                    <div class="c-circle"></div>
                    <div class="c-text">
                    <h2>{{d.name}}</h2>
                    <h6></h6>
                    </div>
                </div>
                <div class="c-end">
                    <button class="c-btn">
                    
                    </button>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>No users</h1>
    {% endif %}
{% endblock content_main %}    