{% extends "main/forms/template.html" %}
{% block h_title %}Requests{% endblock h_title %}
{% block n_right %}

{% endblock n_right %} 



{% block content_main %}
    {% if data %}
        {% for d in data.data %}
            <div 
            data-req_id={{d.id}} 
            data-user_id={{d.user_id}} 
            data-note_id={{d.user_id}} 
            class="card">
                <div class="c-info">
                    <div class="c-circle">!</div>
                    <div class="c-text">
                    <h2>Request id: {{d.id}}</h2>
                    <h3>Asking for access: 
                            {{ d.note_title }}
                    </h3>                    
                </div>
                </div>
                <div class="c-end">
                    <div class="end-btns">
                        <button onclick="loadPage('send_request', { action: 'cancel', request_id: {{d.id}}, 'return_page': 'requests' })" class="red-btn" id="cancel-btn">
                            <span class="btn-icon">cancel</span>
                        </button>  
                    </div>
                    <div class="h6">{{d.updated_at}}</div>

                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>No Requests</h1>
    {% endif %}
{% endblock content_main %}    