{% extends "main/forms/template.html" %}
{% load static %}
{% block h_title %}Requests{% endblock h_title %}
{% block style %}
<link rel="stylesheet" href="{% static 'main/forms/requests/requests.css' %}">
<script src="{% static 'main/forms/requests/scripts/requests.js' %}"></script>
{% endblock style %}
{% block n_right %}

{% endblock n_right %} 



{% block content_main %}
    {% if data %}
        {% for d in data.data %}
            {% if d.status == 'pending'%}
            

            <div 
            data-req_id={{d.id}} 
            data-user_id={{d.user_id}} 
            data-note_id={{d.user_id}} 
            class="card">
                <div class="c-info">
                    <div class="c-circle">!</div>
                    <div class="c-text">
                    <h2>User: {{d.username}}</h2>
                    <h3>Asking for access: 
                        <span onclick="location.href='/note/{{ d.note_id }}'" style="cursor: pointer; color: blue; text-decoration: underline;">
                            {{ d.note_title }}
                        </span>
                    </h3>                    
                </div>
                </div>
                <div class="c-end">
                    <div class="end-btns">
                        <button onclick="cancel({{d.id}}, {{d.note_id}});" class="red-btn" id="cancel-btn">
                            <span class="btn-icon">cancel</span>
                        </button>  
                        <button onclick="approve({{d.id}}, {{d.note_id}}, {{d.user_id}});" class="green-btn" id="register-btn">
                            <span class="btn-icon">approve</span>
                        </button>  
                    </div>
                    <div class="h6">{{d.updated_at}}</div>

                </div>
            </div>
            {% else %}
            {% endif %}
        {% endfor %}
    {% else %}
        <h1>No Requests</h1>
    {% endif %}
{% endblock content_main %}    