{% extends "main/template.html" %}

{% block h_title %}{{data.title}}{% endblock h_title %}
{% block content %}
<div class="grey-container">
    <div class="navigation">
      <div class="n-left">
        <h2>{{data.title}}</h2>
      </div>
      <div class="n-right">
        <h2>
          {% if type == 'local' %}
          Local
          {% else %}
          Creator: {{data.username}}
          {% endif %}
        </h2>
      </div>
    </div>
    <div
    data-type="{{ type }}"
    data-note-id="{{ data.id }}"
    data-note-local-id="{{ local_note_id }}"
    class="content">
        <h2 class="desc">Title</h2>
        <text id="note-title" class="text" contenteditable="true">{{ data.title }}</text>
        <h2 class="desc">Descroption</h2>
        <text id="note-description" class="text" contenteditable="true">{{ data.description }}</text>
          <div class="card">
            <div class="c-info">
                <div class="c-text">
                <h2 id="file-title">{{data.file_name}}</h2>
                <h6></h6>
                </div>
            </div>
            <div class="c-end">
                <input type="file" id="file-input" style="display: none;">
                <button class="green-btn" onclick="document.getElementById('file-input').click()">
                    <span class="btn-icon">Upload File</span>
                </button>
            </div>
                
          </div>
        <div class="buttons-action">
            {% if type == 'local' %}
            <button onclick="updateNote();" class="green-btn">
              <span class="btn-icon">save</span>
            </button>  
            {% else %}
            <button onclick="updateNoteAndPush();" class="yellow-btn">
              <span  class="btn-icon">save on server</span>
            </button>
            {% endif %}
        <button onclick="deleteNote();" class="red-btn">
            <span  class="btn-icon">delete</span>
        </button>  
        </div>
        <div class="date">{{data.updated_at}}</div>
    </div>
</div>
{% endblock content %}