{% extends "main/template.html" %}

{% block h_title %}{{data.title}}{% endblock h_title %}
{% block content %}
<div class="grey-container">
    <div class="navigation">
      <div class="n-left">
        <h2>{{data.title}}</h2>
      </div>
      <div class="n-right">
        <h2>Creator: {{data.username}}</h2>
      </div>
    </div>
    <div
    data-note-id="{{ data.id }}"
    class="content">
        <h2 class="desc">Title</h2>
        <text id="note-title" class="text" contenteditable="true">{{ data.title }}</text>
        <h2 class="desc">Descroption</h2>
        <text id="note-description" class="text" contenteditable="true">{{ data.description }}</text>
          <div class="card">
            <div class="c-info">
                <div class="c-text">
                <h2 id="file-title">{{data.file_name}}</h2>
                <h6></h6>
                </div>
            </div>
            <div class="c-end">
                <input type="file" id="file-input" style="display: none;">
                <button class="green-btn" onclick="document.getElementById('file-input').click()">
                    <span class="btn-icon">Upload File</span>
                </button>
            </div>
                
          </div>
        <div class="buttons-action">
          <button class="green-btn">
              <span onclick="updateNote();" class="btn-icon">save</span>
          </button>  
        <button class="yellow-btn">
            <span onclick="updateNoteAndPush();" class="btn-icon">save and push</span>
        </button>  
        <button class="red-btn">
            <span onclick="" class="btn-icon">delete</span>
        </button>  
        </div>
        <div class="date">{{data.updated_at}}</div>
    </div>
</div>
{% endblock content %}